[Unit]
Description=My loop service

[Service]
ExecStart=/usr/local/bin/myloop.sh
Restart=always
Slice=mycustom.slice
Delegate=yes

[Install]
WantedBy=multi-user.target
